@import '../../assets/sass/_variables';
@import "@/src/assets/sass/media";

.chart {
  width: 100%;
  max-width: 100%;
  height: 300px; // Задайте высоту графика

  @include small {
    height: 200px; // Уменьшение высоты графика на маленьких экранах
  }

  @include x-small {
    height: 150px; // Уменьшение высоты графика на самых маленьких экранах
  }
}
